@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	:root {
		--primary: rgb(37 100 137);
		--surface-tint: rgb(37 100 137);
		--on-primary: rgb(255 255 255);
		--primary-container: rgb(201 230 255);
		--on-primary-container: rgb(0 76 110);
		--secondary: rgb(45 99 139);
		--on-secondary: rgb(255 255 255);
		--secondary-container: rgb(205 229 255);
		--on-secondary-container: rgb(9 75 114);
		--tertiary: rgb(19 102 130);
		--on-tertiary: rgb(255 255 255);
		--tertiary-container: rgb(190 233 255);
		--on-tertiary-container: rgb(0 77 101);
		--error: rgb(186 26 26);
		--on-error: rgb(255 255 255);
		--error-container: rgb(255 218 214);
		--on-error-container: rgb(147 0 10);
		--background: rgb(246 249 254);
		--on-background: rgb(24 28 32);
		--surface: rgb(255 248 248);
		--on-surface: rgb(33 25 28);
		--surface-variant: rgb(243 221 223);
		--on-surface-variant: rgb(82 67 69);
		--outline: rgb(132 115 117);
		--outline-variant: rgb(214 194 196);
		--shadow: rgb(0 0 0);
		--scrim: rgb(0 0 0);
		--inverse-surface: rgb(55 46 49);
		--inverse-on-surface: rgb(252 237 241);
		--inverse-primary: rgb(148 205 247);
		--primary-fixed: rgb(201 230 255);
		--on-primary-fixed: rgb(0 30 47);
		--primary-fixed-dim: rgb(148 205 247);
		--on-primary-fixed-variant: rgb(0 76 110);
		--secondary-fixed: rgb(205 229 255);
		--on-secondary-fixed: rgb(0 29 50);
		--secondary-fixed-dim: rgb(153 204 250);
		--on-secondary-fixed-variant: rgb(9 75 114);
		--tertiary-fixed: rgb(190 233 255);
		--on-tertiary-fixed: rgb(0 31 42);
		--tertiary-fixed-dim: rgb(140 207 240);
		--on-tertiary-fixed-variant: rgb(0 77 101);
		--surface-dim: rgb(229 214 218);
		--surface-bright: rgb(255 248 248);
		--surface-container-lowest: rgb(255 255 255);
		--surface-container-low: rgb(255 240 244);
		--surface-container: rgb(250 234 238);
		--surface-container-high: rgb(244 228 232);
		--surface-container-highest: rgb(238 223 227);
	}

	.dark {
		--primary: rgb(148 205 247);
		--surface-tint: rgb(148 205 247);
		--on-primary: rgb(0 52 77);
		--primary-container: rgb(0 76 110);
		--on-primary-container: rgb(201 230 255);
		--secondary: rgb(153 204 250);
		--on-secondary: rgb(0 51 82);
		--secondary-container: rgb(9 75 114);
		--on-secondary-container: rgb(205 229 255);
		--tertiary: rgb(140 207 240);
		--on-tertiary: rgb(0 53 70);
		--tertiary-container: rgb(0 77 101);
		--on-tertiary-container: rgb(190 233 255);
		--error: rgb(255 180 171);
		--on-error: rgb(105 0 5);
		--error-container: rgb(147 0 10);
		--on-error-container: rgb(255 218 214);
		--background: rgb(16 20 23);
		--on-background: rgb(223 227 232);
		--surface: rgb(25 17 20);
		--on-surface: rgb(238 223 227);
		--surface-variant: rgb(82 67 69);
		--on-surface-variant: rgb(214 194 196);
		--outline: rgb(159 140 142);
		--outline-variant: rgb(82 67 69);
		--shadow: rgb(0 0 0);
		--scrim: rgb(0 0 0);
		--inverse-surface: rgb(238 223 227);
		--inverse-on-surface: rgb(55 46 49);
		--inverse-primary: rgb(37 100 137);
		--primary-fixed: rgb(201 230 255);
		--on-primary-fixed: rgb(0 30 47);
		--primary-fixed-dim: rgb(148 205 247);
		--on-primary-fixed-variant: rgb(0 76 110);
		--secondary-fixed: rgb(205 229 255);
		--on-secondary-fixed: rgb(0 29 50);
		--secondary-fixed-dim: rgb(153 204 250);
		--on-secondary-fixed-variant: rgb(9 75 114);
		--tertiary-fixed: rgb(190 233 255);
		--on-tertiary-fixed: rgb(0 31 42);
		--tertiary-fixed-dim: rgb(140 207 240);
		--on-tertiary-fixed-variant: rgb(0 77 101);
		--surface-dim: rgb(25 17 20);
		--surface-bright: rgb(64 55 58);
		--surface-container-lowest: rgb(19 12 15);
		--surface-container-low: rgb(33 25 28);
		--surface-container: rgb(37 29 33);
		--surface-container-high: rgb(48 40 43);
		--surface-container-highest: rgb(59 50 54);
	}
}

@theme {
	--font-roboto: "Roboto", sans-serif;

	--color-primary: var(--primary);
	--color-surface-tint: var(--surface-tint);
	--color-on-primary: var(--on-primary);
	--color-primary-container: var(--primary-container);
	--color-on-primary-container: var(--on-primary-container);
	--color-secondary: var(--secondary);
	--color-on-secondary: var(--on-secondary);
	--color-secondary-container: var(--secondary-container);
	--color-on-secondary-container: var(--on-secondary-container);
	--color-tertiary: var(--tertiary);
	--color-on-tertiary: var(--on-tertiary);
	--color-tertiary-container: var(--tertiary-container);
	--color-on-tertiary-container: var(--on-tertiary-container);
	--color-error: var(--error);
	--color-on-error: var(--on-error);
	--color-error-container: var(--error-container);
	--color-on-error-container: var(--on-error-container);
	--color-background: var(--background);
	--color-on-background: var(--on-background);
	--color-surface: var(--surface);
	--color-on-surface: var(--on-surface);
	--color-surface-variant: var(--surface-variant);
	--color-on-surface-variant: var(--on-surface-variant);
	--color-outline: var(--outline);
	--color-outline-variant: var(--outline-variant);
	--color-shadow: var(--shadow);
	--color-scrim: var(--scrim);
	--color-inverse-surface: var(--inverse-surface);
	--color-inverse-on-surface: var(--inverse-on-surface);
	--color-inverse-primary: var(--inverse-primary);
	--color-primary-fixed: var(--primary-fixed);
	--color-on-primary-fixed: var(--on-primary-fixed);
	--color-primary-fixed-dim: var(--primary-fixed-dim);
	--color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
	--color-secondary-fixed: var(--secondary-fixed);
	--color-on-secondary-fixed: var(--on-secondary-fixed);
	--color-secondary-fixed-dim: var(--secondary-fixed-dim);
	--color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
	--color-tertiary-fixed: var(--tertiary-fixed);
	--color-on-tertiary-fixed: var(--on-tertiary-fixed);
	--color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
	--color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
	--color-surface-dim: var(--surface-dim);
	--color-surface-bright: var(--surface-bright);
	--color-surface-container-lowest: var(--surface-container-lowest);
	--color-surface-container-low: var(--surface-container-low);
	--color-surface-container: var(--surface-container);
	--color-surface-container-high: var(--surface-container-high);
	--color-surface-container-highest: var(--surface-container-highest);
}
